:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark:#2E2F42;
    --success:#31D0AA;
    --text: #434455;
    --subtle-text:#8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F4266;
    --hero-background:#2E2F42B2;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}



body{
    font-family: "Roboto", sans-serif;
    color: var(--text, #434455);
    background-color: var(--white-background, #FFFFFF);
    
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/* logo-section */
.logo {
    color: var(--primary-brand, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-span {
    color: var(--dark, #2E2F42);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
        
}

.header-list {}

.header-item {}

.header-link {
    color: var(--dark, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link:hover{
    color: var(--pressed-state, #404BBF);
}

.header-link:focus{
    color: var(--pressed-state, #404BBF);
}

.address{
    font-style: normal;
}

.address-list {}

.address-item {}

.address-link {
    color: var(--text, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover{
    color: var(--pressed-state, #404BBF);
}

.address-link:focus{
    color: var(--pressed-state, #404BBF);
}


/* hero section */
.hero-section {
    background-color: var(--dark, #2E2F42) ;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background, #FFFFFF);

}

.hero-btn {
    background-color: var(--primary-brand, #4D5AE5);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background, #FFFFFF);
    cursor: pointer;

}

.hero-btn:hover {
    background-color: var(--pressed-state, #404BBF);
}

.hero-btn:focus{
    background-color: var(--pressed-state, #404BBF);
}


/* benefits section */
.benefits-section {}

.benefits-list {}

.list {}

.benefits-item {}

.benefits-title { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark, #2E2F42);
}

.benefits-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* doing sectoin */
.doing-section {}

.doing-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--dark, #2E2F42);
}

.doing-list {}

.doing-item {}

.doing-photo {}