:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark:#2E2F42;
    --success:#31D0AA;
    --text: #434455;
    --subtle-text:#8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F4266;
    --hero-background:#2E2F42B2;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}


/* logo-section */
.logo {
    color: var(--primary-brand, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0,03em;
    text-transform: uppercase;
}

.logo-span {
    color: var(--dark, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0, 03em;
    text-transform: uppercase;
        
}

.header-list {}

.header-item {
    color: var(--dark, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link {

}

.address-list {}

.address-item {}

.address-link {
    color: var(--text, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}